body{
    background:url(sources/background.gif) repeat-x;
    font-family: Arial;
    margin: 0px;
}

div#header{
    width: 800px;
    height: 140px;
    margin: 0px;
}

div#header h1{
        margin-top: 30px;
        display: block;
        float: left;
    }
    
ul#nav{
        display: block;
        list-style-type: none;
        padding-left: 0%;
        margin-left: 80px;
        margin-top: 90px;
        float: left;
    }
ul#nav li{
    float: left;
    margin-right: 10px;
}

ul#nav a{
    text-decoration: none;
    color: #231f20;
    padding-top: 8px;
}

ul#nav a:hover{
    border-top: 5px solid #FC0;
}

ul#nav a.ativa{
    border-top: 5px solid #F90;
}

div#banner{
    width: 800px;
    margin:0px auto;
    height: 237px;
    position: relative;
    background:url(sources/banner.jpg) no-repeat;
}

div#banner a img{
    border: none;
}

div#banner a{
    position: absolute;
    top: 168px;
    left: 620;
}

div#section{
    width: 800px;
    margin: 15px auto;
}

div.article{
    width: 250px;
    float: left;
    margin:0 8px;
}

div.article h1{
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
div.article a{
    text-decoration: none;
    color:  #FFF;
    font-size: 12px;
    padding: 5px 15px;
}

div.article p{
    color: black;
}


div#footer{
    background-color: #ffab08;
    width: 800px;
    margin: 0 auto;
}   